#confirmButton, #clearConfirmationMessage {
    -fx-text-fill: white;
}

#confirmButton {
    -fx-background-color: dimgray;
}

#confirmButton:hover {
    -fx-background-color: gray;
}

#confirmButton:armed {
    -fx-background-color: darkgray;
}

#clearConfirmationContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
